# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Models
data/
models/*.h5
models/*.keras
outputs/

# VS Code / IDEs
.vscode/
.idea/
*.swp
